<?xml version="1.0"?>

<!--
/**
 * MVentory_JQuery
 * Copyright (C) 2014 mVentory Ltd.
 *
 * This file is a part of MVentory_JQuery.
 *
 * MVentory_JQuery is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @package MVentory/JQuery
 * @copyright Copyright (c) 2014 mVentory Ltd. (http://mventory.com)
 * @license http://www.gnu.org/licenses/gpl.txt
 */
-->

<config>
  <modules>
    <MVentory_JQuery>
      <version>0</version>
    </MVentory_JQuery>
  </modules>

  <frontend>
    <layout>
      <updates>
        <jquery>
          <file>jquery.xml</file>
        </jquery>
      </updates>
    </layout>
  </frontend>

  <adminhtml>
    <layout>
      <updates>
        <jquery>
          <file>jquery.xml</file>
        </jquery>
      </updates>
    </layout>
  </adminhtml>
</config>
